.app_workspace {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.app_workspace_inner {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.application_content_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
