.semester_subject_creation_modal {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.267);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.semester_subject_creation_modal_box_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.semester_subject_creation_modal_box_infobox_container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.semester_subject_creation_modal_box_infobox,
.semester_subject_creation_modal_box_warnbox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: var(--color-gray);
  width: 100%;
}

.semester_subject_creation_modal_box_warnbox {
  color: var(--color-red) !important;
}

.semester_subject_creation_modal_box_infobox span {
  font-size: 18px;
  color: var(--color-gray);
}
.semester_subject_creation_modal_box_warnbox span {
  font-size: 18px;
  color: var(--color-red);
}

.semester_subject_creation_modal_box {
  max-width: 350px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--color-gray);
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.semester_subject_creation_modal_box_top span {
  cursor: pointer;
}

.semester_subject_creation_modal_box_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.semester_subject_creation_modal_box_mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.semester_subject_creation_modal_box_mid_title_container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.semester_subject_creation_modal_box_mid_metadata_container input {
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  color: var(--color-gray);
  border: 1px solid var(--color-light-gray);
  -moz-appearance: textfield;
}

.semester_subject_creation_modal_box_mid_name_input {
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  color: var(--color-gray);
  border: 1px solid var(--color-light-gray);
}
.semester_subject_creation_modal_box_mid_metadata_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.semester_subject_creation_modal_box_mid_metadata_container div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  width: 100px;
}

.semester_subject_creation_modal_create,
.semester_subject_creation_modal_box_bottom {
  width: 100%;
}

.semester_subject_creation_modal_create {
  padding: 10px;
  background-color: var(--color-light-blue);
  border-radius: 5px;
  color: var(--color-light-gray);
  border: none;
  cursor: pointer;
}

.semester_subject_creation_modal_create:hover {
  background-color: var(--color-blue);
}

.semester_subject_creation_modal_box_top h1 {
  font-size: 25px;
}

@media (max-width: 768px) {
  .semester_subject_creation_modal_box_top h1 {
    font-size: 18px;
  }

  .semester_subject_creation_modal_box_mid label {
    font-size: 12px;
  }
  .semester_subject_creation_modal_box_mid_metadata_container input {
    width: 60px;
    font-size: 10px;
  }

  .semester_subject_creation_modal_box_mid_name_input {
    font-size: 10px;
  }
}
